* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 1rem;
}

.app-name {
  text-align: center;
  margin: 1rem;
}

h3 {
  text-align: center;
}

.page {
  margin: 1rem;
  min-height: 40rem;
  border: #337 solid .3rem;
  background-color: antiquewhite;
}

.bookmark-card {
  margin: 1rem;
  padding: .5rem;
  border: #444 solid .2rem;
}

.landing-page .bookmark-card {
  display: flex;
  justify-content: space-between;
}

.actions {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #bdc5ce;
}

.add-bookmark-clicked {
  padding: 0.5rem;
  font-size: 1rem;
}

.rating-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
}

.rating-label {
  font-size: 1rem;
}

.select-rating {
  font-size: 1rem;
}

.title {
  margin-right: 1rem;
  color: brown;
}

.rating {
  display: flex;
}

.code-block {
  background: rgb(229, 229, 236);
}

.new-bookmark {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-bookmark > div {
  margin: 1rem;
}

#description {
  width: 100%;
}
.radio-div {
  display: flex;
  justify-content: space-around;
}

.radio-btn {
  margin-right: 1rem;
}

.bookmark-clicked .bookmark-card {
  margin: 1rem;
  padding: .5rem;
  border: #444 solid .2rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.bookmark-condensed {
  display: flex;
  justify-content: space-between;
}

.bookmark-expanded {
  margin-top: 1rem;
}

.bookmark-expanded > div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delete-btn {
  font-size: 1.25rem;
  border: none;
  color: salmon;
  background-color: antiquewhite;
}

#cancelBtn, #submitBtn {
  padding: 0.5rem;
  min-width: 2rem;
}